<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.roadquality">

    <!-- Permissions -->

    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-permission
        android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Road Quality Monitor"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Roadquality">

        <!-- Home Activity -->

        <activity
            android:name=".HomeActivity"
            android:exported="false" />

        <!-- Admin Activity -->

        <activity
            android:name=".AdminActivity"
            android:exported="false" />

        <!-- Configuration Activity -->

        <activity
            android:name=".ConfigActivity"
            android:exported="false" />

        <!-- Detection Activity -->

        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- Login Activity -->

        <activity
            android:name=".LoginActivity"
            android:exported="true">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN"/>

                <category
                    android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

    </application>

</manifest>